# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SuperAlchemyFriends-2026-08-28_16-42-06.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
